/* Sidebar */

.sidebar {
	background-color: #25364f!important;
}

/* Logo background color */
.sidebar div:first-child {
	background-color: #248fd5!important;
}

/* Optimise pusher container width for always visible sidebar */
.pusher {
	width: calc(100% - 260px); /*260px is the sidebar width*/
	padding: 15px;
}
